 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 433px;
}

.teste123123
{
  color: blue;
}

.u-section-1 .u-image-1 {
  width: 594px;
  height: 150px;
  margin: 104px auto 60px 28px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 137px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 423px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 86px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 422px;
}

.u-section-2 .u-list-1 {
  width: 1116px;
  margin: 35px auto 0 -11px;
}

.u-section-2 .u-repeater-1 {
  min-height: 207px;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-image-1 {
  height: 184px;
  width: 201px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-image-2 {
  height: 184px;
  width: 201px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-image-3 {
  height: 184px;
  width: 201px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-image-4 {
  height: 184px;
  width: 201px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px;
}

.u-section-2 .u-image-5 {
  height: 184px;
  width: 201px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-6 {
  height: 80px;
  width: 1105px;
  margin: 39px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 174px;
  }

  .u-section-2 .u-image-1 {
    height: 154px;
  }

  .u-section-2 .u-image-2 {
    height: 154px;
  }

  .u-section-2 .u-image-3 {
    height: 154px;
  }

  .u-section-2 .u-image-4 {
    height: 154px;
  }

  .u-section-2 .u-image-5 {
    height: 154px;
  }

  .u-section-2 .u-image-6 {
    height: 68px;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 672px;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
  }

  .u-section-2 .u-image-1 {
    height: 202px;
  }

  .u-section-2 .u-image-2 {
    height: 202px;
  }

  .u-section-2 .u-image-3 {
    height: 202px;
  }

  .u-section-2 .u-image-4 {
    height: 202px;
  }

  .u-section-2 .u-image-5 {
    height: 202px;
  }

  .u-section-2 .u-image-6 {
    height: 52px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 50% 50%;
  }

  .u-section-2 .u-image-1 {
    height: 230px;
  }

  .u-section-2 .u-image-2 {
    height: 230px;
  }

  .u-section-2 .u-image-3 {
    height: 230px;
  }

  .u-section-2 .u-image-4 {
    height: 230px;
  }

  .u-section-2 .u-image-5 {
    height: 230px;
  }

  .u-section-2 .u-image-6 {
    height: 39px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    height: 294px;
  }

  .u-section-2 .u-image-2 {
    height: 294px;
  }

  .u-section-2 .u-image-3 {
    height: 294px;
  }

  .u-section-2 .u-image-4 {
    height: 294px;
  }

  .u-section-2 .u-image-5 {
    height: 294px;
  }

  .u-section-2 .u-image-6 {
    height: 25px;
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 452px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 39px auto 0;
}

.u-section-3 .u-form-1 {
  height: 311px;
  width: 1040px;
  margin: 30px auto 29px;
}

.u-section-3 .u-form-group-2 {
  margin-left: 0;
}

.u-section-3 .u-form-group-3 {
  margin-left: 0;
}

.u-section-3 .u-form-group-4 {
  margin-left: 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-3 .u-form-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-3 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-3 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
    font-size: 1.5rem;
  }

  .u-section-3 .u-form-1 {
    width: 340px;
  }
}